<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyy.rs.mapper.GridMapper">
    <resultMap id="BaseResultMap" type="com.zzyy.rs.entities.TransactionFlow">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="rs_name" jdbcType="VARCHAR" property="rsName" />
        <result column="rs_num" jdbcType="INTEGER" property="rsNum" />
        <result column="operateAmount" jdbcType="DECIMAL" property="operateamount" />
        <result column="date_create" jdbcType="TIMESTAMP" property="dateCreate" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="BIT" property="status" />
    </resultMap>

    <select id="getTotalElement" resultType="Long">
        select count(id) from rs_account
        <where>
            <if test="userNumber !=null">
                id= #{userNumber,jdbcType=INTEGER}
            </if>
            <if test="userName !=null">
                AND rs_name = #{userName,jdbcType=VARCHAR} OR spell = #{nameSpell,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getAccountLists" resultType="com.zzyy.rs.entities.Account">
        select * from rs_account
        <where>
            <if test="userNumber !=null">
                id= #{userNumber,jdbcType=INTEGER}
            </if>
            <if test="userName !=null">
                AND rs_name = #{userName,jdbcType=VARCHAR} OR spell = #{nameSpell,jdbcType=VARCHAR}
            </if>
        </where>
        <if test="sortField != null">
            ORDER BY ${sortField} ${sortOrder}
        </if>
        LIMIT #{beginIndex,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
    </select>

    <select id="findAccountByNameAndMark" resultType="com.zzyy.rs.entities.Account">
      SELECT * FROM rs_account WHERE id = #{accountId,jdbcType=INTEGER} AND (rs_name = #{rsName,jdbcType=VARCHAR} OR
      spell = #{spell,jdbcType=VARCHAR})
    </select>

    <insert id="insertAccount"></insert>

    <select id="getTotalTransactionElements" resultType="Long">
        SELECT COUNT(id) FROM transaction_flow
        <where>
            <if test="userNumber != null">
                rs_num = #{userNumber,jdbcType=INTEGER}
            </if>
            <if test="userName != null">
                AND rs_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="describe != null">
                AND description = #{describe,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=BIT}
            </if>
        </where>
    </select>

    <select id="getTransactionFlows" resultType="com.zzyy.rs.entities.TransactionFlow">
        SELECT * FROM transaction_flow
        <where>
            <if test="userNumber != null">
                rs_num = #{userNumber,jdbcType=INTEGER}
            </if>
            <if test="userName != null">
                AND rs_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="describe != null">
                AND description = #{describe,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status IS ${status}
            </if>
        </where>
        <if test="sortField != null">
            ORDER BY ${sortField} ${sortOrder}
        </if>
        <if test="sortField == null">
            ORDER BY transaction_flow.date_create DESC
        </if>
        LIMIT #{beginIndex,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
    </select>
</mapper>